<div class="row">
    <div class="col-12">
        <div class="content-header">Edit Profile</div>
        <p class="content-sub-header mb-1">Configure profile information to your needs</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="row justify-content-end">
                        <div class="col-3 d-flex justify-content-center">
                            <app-button [routerLink]=" ['/admin']" [outline]="true">Skip <fa-icon [icon]="faArrowRight">
                                </fa-icon>
                            </app-button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-9 my-3 p-3 border">
                            <app-edit-profile></app-edit-profile>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>