.drop-zone {
  border: dotted 3px lightgray;
  background-color: #f5f7fa !important;
  cursor: pointer;
}

.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */

.another-file-over-class {
  border: dotted 3px green;
}

.file-input {
  display: none;
}

.zone-content {
  text-transform: none;
  font-size: 1.3rem;
}
