<!-- *NAVBAR* starts -->
<app-navbar></app-navbar>
<!-- *NAVBAR* ends -->

<div class="wrapper" (click)="onWrapperClick();" (window:resize)="onResize($event)">

  <!-- *SIDE* Menu starts -->
  <div appSidebar class="app-sidebar main-menu" (mouseenter)="sidebarMouseenter($event)"
    (mouseleave)="sidebarMouseleave($event)" data-active-color="white" [attr.data-background-color]="bgColor">
    <app-side-menu></app-side-menu>
  </div>
  <!-- *SIDE* Menu ends -->

  <div class="main-panel">
    <div class="main-content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- FOOTER -->
    <app-footer></app-footer>
    <!-- Scroll to top button -->
    <button class="btn btn-primary scroll-top" type="button" *ngIf="isScrollTopVisible" (click)="scrollToTop()"><i
        class="ft-arrow-up"></i></button>
  </div>
  <div class="sidenav-overlay" (click)="onOutsideClick($event);"
    [ngClass]="{'d-none': displayOverlayMenu && hideSidebar && !overlayContent , 'd-block': displayOverlayMenu && !hideSidebar && overlayContent && innerWidth < 1200}">
  </div>
  <div class="drag-target"></div>
</div>